<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <identity impersonate="false" />
        <authentication mode="Windows" />
        <trust level="Minimal" />
    </system.web>
    <system.webServer>
        <directoryBrowse enabled="true" showFlags="Date, Time, Size, Extension, LongDate" />
        <httpRedirect httpResponseStatus="Permanent" />
    </system.webServer>
</configuration>
